# SQL exercise

This is the second practical exercise of our course [Data Science Bootcamp](https://open.hpi.de/courses/datascience2023).  
In this exercise, we focus on the basics of SQL as outlined in the video. Make sure to watch it carefully before starting with this exercise.

---
\
Here is a reminder about the technical limitations on this programming platform **OpenJupyter**:

#### Inactivity and Saving

- After 15 minutes of inactivity, the Python kernel shuts down, but the kernel is easy to restart if you continue your work within 60 minutes.
- After 60 minutes of inactivity the data is deleted to free up resources for other users.
- Therefore, please save the notebook locally (click "File" -> "Download") if you are pausing your work on the notebook for more than one hour. (We have put a reminder to save the notebook after each task.)
- If you have to restore your work from a downloaded notebook, press the Upload Button and select your locally saved `.ipynb` file (confirm to overwrite).

#### Grading

- Solve the six tasks in this notebook and use the next learning item in the course ("Solution sheet: SQL Quiz") to insert your questions. Till the due date (which is **the 27th of June (11:55 pm / 23:55 UTC**), you can revise your answers. Only after the deadline, we will publish the results of this assignment, once this is done, you can discuss your answers and approach in the forum.
---

In [1]:
# Run this cell first and only once
!python3 Ex2_Grader.pyc

In order to  focus on the queries, use the following template:  
We use pandas to start a connection with the database. Although multiple ways exists, we want you to focus on writing good and correct queries for now. We also wrote the correct connection, so that you can start directly. Take some time to check how we inititated the connection!

In [2]:
## Loading relevant libraries for you
## make sure to run this cell atleast once
import sqlite3 as db
import pandas as pd

# Loading the csv dataset in a dataframe
connection = db.connect ("chinook.db")

# Technically, you need to disconnect after are finished. Once again, we won't include this for the sake of simplicity.

The following query list the band with the ID 1 from the table artists. Use it to bootstrap the next answers, you just have to change the variable 'query'.
Do not split the query string into multiple lines.

In [3]:
query ="select * from artists where artistID = 1"
df = pd.read_sql_query(query, connection)
print (df)

   ArtistId   Name
0         1  AC/DC

### Task 1: How many different artists are in the database? (1P)

In [22]:
query = "select count(DISTINCT Name) from artists"
df = pd.read_sql_query(query, connection)
print (df)

   count(DISTINCT Name)
0                   275

Please write that answer into the solution sheet on the [openHPI course](https://open.hpi.de/courses/datascience2023/items/1JiuxzLt263qxJBSIZ5VmY)

### Task 2: How many columns does the table "tracks" has? (1P)

In [29]:
query = "PRAGMA table_info(tracks)"
df = pd.read_sql_query(query, connection)
print (df)
print("\nThere are 9 columns in tracks schema")

   cid          name            type  notnull dflt_value  pk
0    0       TrackId         INTEGER        1       None   1
1    1          Name   NVARCHAR(200)        1       None   0
2    2       AlbumId         INTEGER        0       None   0
3    3   MediaTypeId         INTEGER        1       None   0
4    4       GenreId         INTEGER        0       None   0
5    5      Composer   NVARCHAR(220)        0       None   0
6    6  Milliseconds         INTEGER        1       None   0
7    7         Bytes         INTEGER        0       None   0
8    8     UnitPrice  NUMERIC(10, 2)        1       None   0

There are 9 columns in tracks schema

Please write that answer into the solution sheet on the [openHPI course](https://open.hpi.de/courses/datascience2023/items/1JiuxzLt263qxJBSIZ5VmY)

### Task 3: Does any customers have the same last name as an employee in this database? (2P)

In [12]:
query = "select customers.LastName, employees.LastName from customers,employees where customers.LastName = employees.LastName"
df = pd.read_sql_query(query, connection)

print (df)

  LastName LastName
0    Smith    Smith

Please write that answer into the solution sheet on the [openHPI course](https://open.hpi.de/courses/datascience2023/items/1JiuxzLt263qxJBSIZ5VmY)

_Friendly reminder to save your notebook on a local level._

### Task 4: What is the email address of the general manager? (1P)

In [16]:
query ="select employees.Email from employees where Title = 'General Manager'"
df = pd.read_sql_query(query, connection)

print (df)

                   Email
0  laura@chinookcorp.com

Please write that answer into the solution sheet on the [openHPI course](https://open.hpi.de/courses/datascience2023/items/1JiuxzLt263qxJBSIZ5VmY)

### Task 5: Find the unit prices for each media type. (2P)

In [19]:
query = "select distinct tracks.MediaTypeId, tracks.UnitPrice from tracks"
df = pd.read_sql_query(query, connection)

print (df)

   MediaTypeId  UnitPrice
0            1       0.99
1            2       0.99
2            3       1.99
3            3       0.99
4            4       0.99
5            5       0.99

Please write that answer into the solution sheet on the [openHPI course](https://open.hpi.de/courses/datascience2023/items/1JiuxzLt263qxJBSIZ5VmY)

### Task 6: What is the lowest customerID from an invoice that is located in Germany? (2P)

Hint: If we can use MAX() on a columnName, we can use MIN as well...

In [20]:
query = "select MIN(invoices.CustomerId) from invoices where BillingCountry='Germany'"
df = pd.read_sql_query(query, connection)

print (df)

   MIN(invoices.CustomerId)
0                         2

Please write that answer into the solution sheet on the [openHPI course](https://open.hpi.de/courses/datascience2023/items/1JiuxzLt263qxJBSIZ5VmY)

Here are some empty cells, that are you can use, if you need more than the one above to test some queries.